<a href="https://colab.research.google.com/github/Loanisa/oceanarium/blob/main/16_debugging_challenges__SOLUTION.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Debugging Python code


Go through the exercises below.

- Each exercise contains some code with **one or more mistakes**.
- The mistakes can either prompt an error or not.
- There might be multiple ways to fix the mistakes.
- Improving the code readability is also encouraged.

In [1]:
# data creation
beatles = ["John Lennon", "Paul McCartney", "George Harrison", "Ringo Starr"]

numbers = [1, 2, 3, 4, 5]

capitals = {"Germany": "Berlin",
            "Russia": "Moscow",
            "France": "Paris",
            "China": "Beijing",
            "Egypt": "Cairo",
            "Brazil": "Sao Paulo"
            }

top_profitable_films = {
    "Film": ["Avengers: Endgame", "Avatar", "Titanic", "Star Wars: The Force Awakens", "Jurassic World",
             "The Lion King", "The Avengers", "Frozen II", "Frozen", "Beauty and the Beast"],
    "Year": ["2019", "2007", "1997", "2015", "2015", "2019", "2012", "2019", "2013", "2017"],
    "Worldwide Gross (in billions)": ["2.798", "2.789", "2.194", "2.073", "1.673", "1.656", "1.519",
                                      "1.450", "1.276", "1.263"]
    }

**Logical error**: the capital of Brazil is acually Brasilia, not Sao Paulo!

In [4]:
for c in capitals.keys():
  print(f"{c} is the capital of {capitals[c]}.")

Germany is the capital of Berlin.
Russia is the capital of Moscow.
France is the capital of Paris.
China is the capital of Beijing.
Egypt is the capital of Cairo.
Brazil is the capital of Sao Paulo.

In [ ]:
capitals["Brazil"] = "Brasilia"

## Exercise 1:

In [ ]:
for c in Capitals.keys():
  print(f"{c} is the capital of {Capitals[c]}.")

**Solution:**
1. The `NameError` with the message "NameError: name 'Capitals' is not defined" occurs because variable `capitals` that we actually defined is not capitalized. `Capitals` does not exist.

In [ ]:
for c in capitals.keys():
  print(f"{c} is the capital of {capitals[c]}.")

2. We have to switch the country and the capital for the sentences to make sense.

In [ ]:
for c in capitals.keys():
  print(f"{capitals[c]} is the capital of {c}.")

3. Optionally, we can give a more meaningful name to the iterator variable so that the code is easier to understand.

In [ ]:
for country in capitals.keys():
  print(f"{capitals[country]} is the capital of {country}.")

## Exercise 2:
Let's imagine we want to show our love for Ringo Starr and print a love statement for him as many times as numbers are in the `numbers` list. For all Beatles who are not Ringo, we want to print as many times a hate statement. The output should look like this:

```
I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!


I hate John Lennon!
I hate Paul McCartney!
I hate George Harrison!
I love Ringo Starr!
```

In [ ]:
for beatle in beatles:
  if beatle = "Ringo Starr":
    for n in numbers:
      print(f"I love {beatle}!")
  if beatle != "Ringo Starr":
    print(f"I hate {beatle}!")
      print("\n")

**Solution:**

1. A single `=` sign is the assignment operator. For the logical operator "equals to" we need to use the double equal sign `==`:

In [ ]:
for beatle in beatles:
  if beatle == "Ringo Starr":
    for n in numbers:
      print(f"I love {beatle}!")
  if beatle != "Ringo Starr":
    print(f"I hate {beatle}!")
      print("\n")

2. The `print("\n")` statement needs to be properly indented.

In [ ]:
for beatle in beatles:
  if beatle == "Ringo Starr":
    for n in numbers:
      print(f"I love {beatle}!")
  if beatle != "Ringo Starr":
    for n in numbers:
      print(f"I hate {beatle}!")
  print("\n")

3. We want to iterate through `numbers` first, and then through `beatles`.

In [ ]:
for n in numbers:
  for beatle in beatles:
    if beatle == "Ringo Starr":
        print(f"I love {beatle}!")
    if beatle != "Ringo Starr":
      print(f"I hate {beatle}!")
  print("\n")

4. Optionally, we can replace `if beatle != "Ringo Starr":` with `else`. It will make our code simpler and more elegant:

In [ ]:
for n in numbers:
  for beatle in beatles:
    if beatle == "Ringo Starr":
        print(f"I love {beatle}!")
    else:
      print(f"I hate {beatle}!")
  print("\n")

## Exercise 3:

In [ ]:
top_profitable_films = pd.DataFrame(top_profitable_films)
top_profitable_films.head

1. We have not imported pandas yet, hence the NameError for `pd`.

In [ ]:
import pandas as pd
top_profitable_films = pd.DataFrame(top_profitable_films)
top_profitable_films.head

2. It is not a good practice to overwrite the variable of the original dataset when creating a new version of it. We want to preserve the dictionary `top_profitable_films`.

In [ ]:
import pandas as pd
top_films_df = pd.DataFrame(top_profitable_films)
top_films_df.head

3. `head()` is a method, and therefore needs the parentheses.

In [6]:
import pandas as pd
top_films_df = pd.DataFrame(top_profitable_films)
top_films_df.head()

                           Film  Year Worldwide Gross (in billions)
0             Avengers: Endgame  2019                         2.798
1                        Avatar  2007                         2.789
2                       Titanic  1997                         2.194
3  Star Wars: The Force Awakens  2015                         2.073
4                Jurassic World  2015                         1.673

## Exercise 4:

In [7]:
top_films_df[top_films_df["Film"]=="Avatar"]["Year"] = "2009"

<ipython-input-7-6c1fb2da2ff2>:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  top_films_df[top_films_df["Film"]=="Avatar"]["Year"] = "2009"

In [8]:
top_profitable_films["Year"][1] = "2009"

**Solution:**

In general, when selecting data from a DataFrame, and ALWAYS when overwriting data from it, use `.loc[]` instead of simple `[]`.

When fixing the infamous `A value is trying to be set on a copy of a slice from a DataFrame.` error, it's better to have a fresh start, so create the dataframe again.

In [ ]:
top_profitable_films = pd.DataFrame(top_profitable_films)

top_films_df.loc[top_films_df["Film"]=="Avatar", "Year"] = "2009"

In [ ]:
top_films_df.head(2)

## Exercise 5:

We want to get the average gross profit of all films:

In [ ]:
top_films_df["Worldwide Gross (in billions)"].avg()

**Solution:**

1. The `AttributeError: 'Series' object has no attribute 'avg'` tells us that the method we have used does not exist for a Pandas column (which is a Series). A quick google shows us that the method we need is `mean()`:

In [ ]:
top_films_df["Worldwide Gross (in billions)"].mean()

2. The `TypeError` and the message `Could not convert 2.7982.7892.1942.0731.6731.6561.5191.4501.2761.263 to numeric` we understand that these numbers don't have a numeric data type, which does not allow Pandas to compute their mean. Let's change it:

In [ ]:
top_films_df.loc[:, "Worldwide Gross (in billions)"] = pd.to_numeric(top_films_df.loc[:, "Worldwide Gross (in billions)"])
top_films_df["Worldwide Gross (in billions)"].mean()