<a href="https://colab.research.google.com/github/Loanisa/oceanarium/blob/main/1_2_for_loops_refresher_solutions.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

### For loops

Whenever you want to apply any transformation to all elements in a list, you iterate through them with a `for` loop.

In [ ]:
numbers = [1, 2, 3, 4, 5]

for num in numbers:
    print(num * 2)

2
4
6
8
10

In the example above, we have a list of numbers from 1 to 5. We loop through the list using a `for` loop and define the variable `num` as the variable that will represent each item in the list as we loop through it.

Inside the loop, we simply print out the value of `num` multiplied by 2. As the loop runs, the variable `num` will take on each value in the `numbers` list in turn, and the corresponding value multiplied by 2 will be printed.

If we wanted to store the resulting transformations of our loop into a new list, we would define an empty list first, and then append() all the elements as we iterate through the loop:

In [ ]:
multiplied_by_two_numbers = []

for num in numbers:
    multiplied_by_two_numbers.append(num * 2)


multiplied_by_two_numbers

[2, 4, 6, 8, 10]

**Exercise 1** Create a new list `divided_by_two_numbers` by iterating through the `numbers` list with a `for` loop and dividing each element by 2.

In [ ]:
# Your code here
divided_by_two_numbers = []

for num in numbers:
    divided_by_two_numbers.append(num / 2)


divided_by_two_numbers

[0.5, 1.0, 1.5, 2.0, 2.5]

### Conditions with `if`

Whenever you want to do something only if a condition is met, you will need an `if` statement. Let's say we want multiply by 2 only the even numbers and multiply by 3 only the odd ones from our `numbers` list.

We can check one by one whether all numbers from our `numbers` list are even using the modulo operator `%`. The `%` operator returns the remainder of a division operation, so if a number is even, dividing it by 2 will result in a remainder of 0.

In [ ]:
# numbers = [1, 2, 3, 4, 5]. The first element is 1
print((numbers[0] % 2) == 0)

# numbers = [1, 2, 3, 4, 5]. The second element is 2
print((numbers[1] % 2) == 0)

False
True

These booleans, `True` or `False`, are exactly what `if` statements need. Whenever a condition is true, the code below the `if` statement runs; if the condition is false, the code is skipped and nothing happens:

In [ ]:
condition = True

if condition:
    print("yay")

yay

In [ ]:
condition = False

if condition:
    print("yay")

Let's run a `for` loop to check which elements from the `numbers` list are even numbers:

In [ ]:
# numbers = [1, 2, 3, 4, 5]

for num in numbers:
  if num % 2 == 0:
    print(num, "is even")

2 is even
4 is even

An `else` statement can be added if you want to do something with the elements that did not meet the condition.

In [ ]:
# numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        print(num, "is even")
    else:
        print(num, "is odd")

1 is odd
2 is even
3 is odd
4 is even
5 is odd

So we can now tie everything together:

- A for loop that iterates through the numbers in the `numbers` list.

- An `if` statment that checks whether a number is even or odd.

- Multiply the even numbers by 2 and the odd ones by 3.

In [ ]:
# numbers = [1, 2, 3, 4, 5]

for num in numbers:
    if num % 2 == 0:
        print(num, "is even,", num, "* 2 =", num * 2)
    else:
        print(num, "is odd,", num, "* 3 =", num * 3)

1 is odd, 1 * 3 = 3
2 is even, 2 * 2 = 4
3 is odd, 3 * 3 = 9
4 is even, 4 * 2 = 8
5 is odd, 5 * 3 = 15

#### **Exercise 2:**
Using a for loop, write a program that counts the number of vowels (a, e, i, o, u) in the following text: "Hello world! I am practicing 'for' loops."  Print the total count of vowels at the end.

In [ ]:
# Your code here:
my_string = "Hello world! I am practicing 'for' loops."

count_vowels = 0


for char in my_string:
    if char in "aeiouAEIOU":
        count_vowels += 1

print("Total vowels:", count_vowels)

Total vowels: 11

#### **Bonus! Exercise 3:**
Create a program that finds out your age in a maximum of 8 tries! The program can ask you only one type of question: guessing your age! (e.g. “Are you 47 years old?”) And you can answer only one of these three options:

*   younger
*   older
*   yes

Based on your answer the computer can come up with another guess until it finds out your exact age.

**Tip:** to solve this task, you will have to use the input() function! More info: [here](https://docs.python.org/3/library/functions.html#input). It is totally normal if you don't know how to approach this exercise right away. Google is your friend! If you are stuck for a long time (above 30 min), and have already tried many things, it's time to ask for help to your instructor.

In [ ]:
# your code here

# I set a range between 0 and 100 and I assume that the age of the “player” will be between these two values:
min_age = 0
max_age = 100


# The script always asks the middle value of this range (for the first try it’s 50):
for i in range(9):
    guessed_age = int((min_age + max_age) / 2)
    answer = input('Are you ' + str(guessed_age) + " years old?")

    # If the guessed age is correct, then the script ends and it returns some answer:
    if answer == 'yes':
        print("Nice")
        break

    # If the answer is “younger”, then we start the iteration over,
    # but before that we set the maximum value of the age-range to the guessed age.
    # So in the second iteration the script will guess the middle value of 0 and 50:
    elif answer == 'younger':
        max_age = guessed_age

    # We do the same for the “more” answer,
    # except that in this case we change the minimum (and not the the maximum) value.
    # So in the second iteration the script will guess the middle value of 50 and 100:
    elif answer == 'older':
        min_age = guessed_age

    # And eventually we handle the wrong answers and the typos:
    else:
        print('wrong answer')

Are you 50 years old?younger
Are you 25 years old?older
Are you 37 years old?yes
Nice